/* layout */

:root {
  --orange: #FB4F14;
  --primary: #1aac83;
  --error: #b10000;
}

html,
body {
  background: #f1f1f1;
  min-height: 100%;
  margin: 0;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  scroll-behavior: smooth;
}

/* navbar */

header {
  background: var(--orange);
  padding: .25rem .25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

header .user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .user a {
  font-size: .95rem;
  color: #000000;
  font-weight: bolder;
}

header .logout {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: bolder;
}

header .logout button {
  cursor: pointer;
  margin: .25rem;
  color: white;
  display: flex;
  background: var(--orange);
  width: 2.5rem;
  border: 2px dashed black;
  border-radius: .75rem;
}

header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

header .user-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5px;
}

header a {
  color: #ffffff;
  font-size: 5pt;
  text-decoration: none;
  padding: 0 2.5rem;
}

header a:not(:last-child) {
  border-right: 1px solid black;
  box-sizing: border-box;
}

nav button {
  color: white;
  display: flex;
  background: var(--orange);
  width: 2.5rem;
  margin: auto;
  border-style:;
  border: 2px dashed black;
  border-radius: .75rem;
}

/* filter */

.filter select {
  background: var(--orange);
  color: #ffffff;
  border-radius: .75rem;
  font-size: 1.2rem;
  padding: 5px;
}

/* pages */

.pages {
  max-width: 1800px;
  padding: 20px;
  margin: 0 auto;
}

.pages .container {
  background: lightgrey;
  border-radius: .75rem;
  text-align: center;
  margin: 10rem;
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.pages .container:last-child {
  align-items: center;
  justify-content: center;
}

/* home page */

.home {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home .container {
  justify-content: center;
  display: flex;
  max-width: 1600px;
  padding: 2.5rem;
}

.home .container-details {
  background: var(--orange);
  border-radius: .75rem;
  margin: 1.5rem;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (min-width: 1600px) {
  .home .container {
    min-width: 1200px;
  }
}

.home-title {
  max-width: 1200px;
  font-weight: bolder;
  margin: 2.5rem;
  padding: 2.5rem;
  font-size: 24px;
}

.home-title a {
  text-decoration: none;
  color: black;
  transition: .5s;
  font-size: 28px;
}

.home-title a:hover {
  font-size: 2rem;
  text-decoration: underline;
}

/* weathe widget on the home page */

.weather-widget {
  margin-top: 10rem;
}

/* places section on the home page */

.places-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: bolder;
}

.places-home h4 {
  color: #ffffff;
}

.places-home h2 {
  width: 100%;
}

.places-home a {
  color: black;
  text-decoration: none;
  transition: .5s;
}

.places-home a:hover {
  font-size: 1.2rem;
  text-decoration: underline;
}


.places-home .places-details {
  background: var(--orange);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 16rem;
  min-height: 25rem;
  padding: .5rem;
  margin: 2.5rem;
  border: .25rem solid black;
  border-radius: .75rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.places-home .places-details img {
  width: 15rem;
  height: 15rem;
  border: .25rem solid black;
  border-radius: .75rem;
}

.places-home .detail-list {
  text-align: center;
}

/* activities secition on the home page */

.activities-home {
  text-align: center;
  font-weight: bolder;
}

.activities-home h4 {
  color: #ffffff;
}

.activities-home h2 {
  width: 100%;
}

.activities-home a {
  color: black;
  text-decoration: none;
  transition: .5s;
}

.activities-home a:hover {
  font-size: 1.2rem;
  text-decoration: underline;
}

.activities-home .activity-details {
  background: var(--orange);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 16rem;
  min-height: 25rem;
  padding: .5rem;
  margin: 2.5rem;
  border: .25rem solid black;
  border-radius: .75rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.activities-home .activity-details img {
  width: 15rem;
  height: 15rem;
  border: .25rem solid black;
  border-radius: .75rem;
}

.activities-home .detail-list {
  text-align: center;
}

/* about section on the home page */

.about-home {
  flex-direction: column;
}

.about-home a {
  color: black;
  text-decoration: none;
  transition: .5s;
}

.about-home a:hover {
  text-decoration: underline;
  font-size: 1.2rem;
}

/* contacts section on the home page */

.contacts-home {
  flex-direction: column;
}

.contacts-home a {
  color: black;
  text-decoration: none;
  transition: .5s;
}

.contacts-home a:hover {
  text-decoration: underline;
  font-size: 1.2rem;
}

/* about page */

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.about-title {
  max-width: 1200px;
  font-weight: bolder;
  margin: 2.5rem;
}

.about-title a {
  color: black;
  text-decoration: none;
  transition: .5s;
  font-size: 28px;
}

.about-title a:hover {
  text-decoration: underline;
  font-size: 2rem;
}

.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about-header {
  margin: 2.5rem;
}

.about-list ul {
  list-style: none;
}

.about-list li {
  background: var(--orange);
  border-radius: .75rem;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 7.5rem;
  padding: 5rem;
  border: .25rem solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about-closer {
  max-width: 1200px;
  font-weight: bolder;
  margin-bottom: 5rem;
  padding: 2.5rem;
}

/* contact page */

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.contacts-title {
  max-width: 1200px;
  font-weight: bolder;
  margin: 2.5rem;
}

.contacts-title a {
  color: black;
  text-decoration: none;
  transition: .5s;
  font-size: 28px;
}

.contacts-title a:hover {
  text-decoration: underline;
  font-size: 2rem;
}

.contacts .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contacts-header {
  margin: 2.5rem;
  padding: 2.5rem;
}

.contacts-list ul {
  list-style: none;
}

.contacts-list li {
  background: var(--orange);
  border-radius: .75rem;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 7.5rem;
  padding: 5rem;
  border: .25rem solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contacts-list li a {
  text-decoration: none;
  color: #000000;
  transition: .5s;
}

.contacts-list li a:hover{
  font-size: 1.5rem;
  text-decoration: underline;
}

.contacts-closer {
  max-width: 1200px;
  font-weight: bolder;
  margin-bottom: 5rem;
  padding: 2.5rem;
}

/* login page */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--orange);
  width: 25rem;
  margin: auto;
  margin-top: 1.5rem;
  border-radius: .75rem;
  padding: 2rem;
}

.login-form input {
  border-radius: .75rem;
}

.email {
  padding: .75rem;
  display: flex;
  font-weight: bolder;
}

.password {
  padding: .75rem;
  display: flex;
  font-weight: bolder;
}

.login-button {
  margin: .5rem;
  color: white;
  font-weight: bolder;
  background: var(--orange);
  width: 5rem;
  margin: auto;
  border: 2px dashed black;
  border-radius: .75rem;
  text-align: center;
}

.login-form h3 {
  font-size: 1.75rem;
  color: #ffffff;
}

.login-form .error {
  margin-top: 1rem;
  color: #ffffff;
  font-weight: bolder;
}

/* sign up page */

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--orange);
  width: 25rem;
  margin: auto;
  margin-top: 1.5rem;
  border-radius: .75rem;
  padding: 2rem;
}

.signup-form input {
  border-radius: .75rem;
}

.email {
  padding: .75rem;
  flex-direction: row;
}

.signup-form .email-label {
  display: flex;
  justify-self: flex-start;
}

.password {
  padding: .75rem;
}

.signup-button {
  margin: .5rem;
  margin: .5rem;
  color: white;
  font-weight: bolder;
  background: var(--orange);
  width: 5rem;
  margin: auto;
  border: 2px dashed black;
  border-radius: .75rem;
  text-align: center;
}

.signup-form h3 {
  font-size: 1.75rem;
  color: #ffffff;
}

.signup-form .error {
  margin-top: 1rem;
  color: #ffffff;
  font-weight: bolder;
}

/* all attractions */

.attractions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attraction-head {
  margin: 3rem;
}

.attraction-head a {
  padding: 2rem;
  margin: 2.5rem;
  text-decoration: none;
  color: black;
  transition: .5s;
}

.attraction-head:hover {
  font-size: 1.2rem;
}

.attraction-title {
  margin: 2.5rem;
  padding: 2.5rem;
}

.attractions .attraction-details {
  background: var(--orange);
  max-width: 20rem;
  min-width: 20rem;
  max-height: 60rem;
  padding: 2.5rem;
  margin: 5rem;
  border: .5rem solid black;
  border-radius: .75rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.attractions .attraction-details h4 {
  color: #ffffff;
}

.attractions .attraction-details .likes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bolder;
}

.attractions .attraction-details img {
  width: 20rem;
  height: 20rem;
  border: .25rem solid black;
  border-radius: .75rem;
}

.detail-list {
  text-align: start;
  padding: 1.5rem;
  color: #ffffff;
}

.description {
  color: #000000;
  font-weight: bold;
  max-width: 25em;
  margin: auto;
}

/* attraction form */

.attraction-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attraction-form h3 {
  font-size: 1.5rem;
}

.attraction-form .create {
  display: flex;
  flex-direction: column;
  column-count: 2;
  background: var(--orange);
  border: black 5px solid;
  border-radius: .75rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 1.5rem;
  padding: 1.5rem;
}

.create label {
  font-size: 1.2rem;
  margin-top: 2.5rem;
  padding: 1.2rem;
  color: white;
  font-weight: bold;
}

.create input {
  width: 25rem;
  height: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
  border: black 2.5px solid;
  border-radius: .75rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.create input.error {
  border: 3px solid var(--error);
}

.create input:focus {
  outline: none;
}

.create select {
  width: 25rem;
  height: 1.85rem;
  text-align: center;
  border: black 2.5px solid;
  border-radius: .75rem;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.create select.error {
  border: 3px solid var(--error)
}

.create textarea {
  width: 25rem;
  height: 5rem;
  text-align: center;
  border: black 2.5px solid;
  border-radius: .75rem;
  outline: none;
  margin-bottom: 1.1rem;
  resize: none;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.create textarea.error {
  border: 3px solid var(--error)
}

.create button {
  color: white;
  background: var(--orange);
  width: 5rem;
  margin: auto;
  border: 2.5px dashed black;
  border-radius: .75rem;
}

.create div.error {
  max-width: 25rem;
  margin-top: 1.1rem;
  height: auto;
  padding: 10px;
  background: #ffffff;
  color: var(--error);
  text-align: center;
  border: 3px solid var(--error);
  border-radius: .75rem;
  margin: 20px auto;
}

.create div.success {
  max-width: 25rem;
  margin-top: 1.1rem;
  padding: 10px;
  background: #ffffff;
  color: var(--primary);
  border: 3px solid var(--primary);
  border-radius: .75rem;
  margin: 20px auto;
}

/* widgets */

.widgets {
  display: flex;
  align-items: center;
  column-gap: 1.05rem;
}

/* weather component */

.weather {
  display: flex;
  flex-direction: column;
  text-align: left;
  background: var(--orange);
  padding: 1.2rem;
  column-gap: 1.05rem;
  font-weight: bolder;
  border-radius: .75rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.weather .header {
  text-align: center;
  font-size: 2rem;
}

.weather .information {
  display: flex;
  column-gap: 5px;
}

.head-info {
  font-size: 1.2rem;
  color: white;
  border: 5px black solid;
  background: var(--orange);
  border-radius: .75rem;
  padding: 5px;
}

.side-info {
  font-size: 1.2rem;
  border: 5px black solid;
  border-radius: .75rem;
  color: white;
  background: var(--orange);
  padding: 5px;
}

.closer {
  text-align: center;
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: bolder;
}

/* flight component */

.home-flights {
  display: flex;
  flex-direction: row;
  text-align: left;
  background: var(--orange);
  padding: 1.2rem;
  column-gap: 1.05rem;
  font-weight: bolder;
  border-radius: .75rem;
  margin-top: 9.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.flights {
  color: #ffffff;
  border: 5px solid black;
  padding: 5px;
  border-radius: .75rem;
  font-size: 1.2rem;
}

.flights-home {
  color: #000000;
  border: 5px solid black;
  padding: 5px;
  border-radius: .75rem;
  font-weight: bolder;
  font-size: 1.2rem;
}

.departure-airport {
  font-weight: bolder;
}

.departure-airline {
  font-weight: bolder;
}

.depature-time {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}

.arrival-time {
  font-weight: bolder;
}

/* header */

.title-image {
  background-image: url("https://www.tpl.org/wp-content/uploads/2021/05/8_2021_Cincinnati-Ohio_header.jpg");
  box-shadow: rgba(251, 79, 20, 2) 0px 5px, rgba(230, 128, 0) 0px 10px, rgba(255, 165, 44) 0px 15px, rgba(254, 186, 79) 0px 20px, rgba(251, 206, 177) 0px 25px;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 35rem;
  padding: 0;
  margin-top: 0;
  display: flex;
  align-items: flex-start;
}

.title-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2.5rem;
  margin-left: 1rem;
}

/* footer */

footer {
  background: var(--orange);
  max-width: 1400px;
  min-width: stretch;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
  left: 0;
  bottom: 0;
}

.footer-link {
  text-decoration: none;
  color: white;
}